#cart {
  position: absolute;
  top: 80;
  right: 0;
  background-color: antiquewhite;
  border: 1px solid black;
  width: 300px;
}

#cartRow {
  display: flex;
  justify-content: space-between;
}

#cartImage {
  width: 50px;
}
#checkoutRow {
  display: table-row;
}

#checkoutRow td {
  display: table-cell;
  vertical-align: bottom;
}


.deleteButton {
  width: 60px;
  height: 40px;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #31778c;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #f1c40f;
}



.links{
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: flex-start;
  color: white;
  column-gap: 10px;
}

.Li:visited{
  margin-top: 10px;
  border: 1px solid red;

color  : white;
}

#productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 20px;
}

.center {
  text-align: center;
}
article {
  border: 1px solid rgb(181, 174, 174);
  padding: 10px;
}

.centerElement {
  display: block; 
  margin: 0 auto; 
  text-align: center;
}

#productImage{
  width: 100px;

}